In [37]:
import pandas as pd
from urllib.parse import urlparse

In [2]:
!pwd

/c/Users/njeri/Projects/SmartStay

In [3]:
df_1 = pd.read_csv('data/Datafiniti_Hotel_Reviews.csv')
df_1.shape

(10000, 25)

In [4]:
df_2 = pd.read_csv('data/Datafiniti_Hotel_Reviews_Jun19.csv')
df_2.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'reviews.date', 'reviews.dateAdded',
       'reviews.dateSeen', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username', 'sourceURLs', 'websites'],
      dtype='object')

In [5]:
df_3 = df_2.drop('reviews.dateAdded', axis=1)
df_3.shape

(10000, 25)

In [6]:
data = pd.concat([df_1, df_3], ignore_index=True)
data.shape

(20000, 25)

In [7]:
data.head(3)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.dateSeen,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites
0,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-03T00:00:00Z,2016-07-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,NaN,NaN,Paula,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
1,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-02T00:00:00Z,2016-08-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,NaN,NaN,D,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
2,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-11-15T00:00:00Z,2016-08-23T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,We booked a 3 night stay at Rancho Valencia to...,Amazing Property and Experience,NaN,NaN,Ron,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com

In [8]:
data.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'reviews.date', 'reviews.dateSeen',
       'reviews.rating', 'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.userCity', 'reviews.userProvince', 'reviews.username',
       'sourceURLs', 'websites'],
      dtype='object')

## Look for missing values

In [9]:
data.isnull().sum()

id                         0
dateAdded                  0
dateUpdated                0
address                    0
categories                 0
primaryCategories          0
city                       0
country                    0
keys                       0
latitude                   0
longitude                  0
name                       0
postalCode                 0
province                   0
reviews.date               0
reviews.dateSeen           0
reviews.rating             0
reviews.sourceURLs         0
reviews.text               1
reviews.title              2
reviews.userCity        5836
reviews.userProvince    7297
reviews.username           0
sourceURLs                 0
websites                   0
dtype: int64

In [10]:
data = data.drop(columns=['reviews.userCity', 'reviews.userProvince'])
data.shape

(20000, 23)

In [11]:
data.isnull().sum()

id                    0
dateAdded             0
dateUpdated           0
address               0
categories            0
primaryCategories     0
city                  0
country               0
keys                  0
latitude              0
longitude             0
name                  0
postalCode            0
province              0
reviews.date          0
reviews.dateSeen      0
reviews.rating        0
reviews.sourceURLs    0
reviews.text          1
reviews.title         2
reviews.username      0
sourceURLs            0
websites              0
dtype: int64

In [12]:
data = data.dropna()
data.shape

(19997, 23)

## Handle time data

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19997 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  19997 non-null  object
 1   dateAdded           19997 non-null  object
 2   dateUpdated         19997 non-null  object
 3   address             19997 non-null  object
 4   categories          19997 non-null  object
 5   primaryCategories   19997 non-null  object
 6   city                19997 non-null  object
 7   country             19997 non-null  object
 8   keys                19997 non-null  object
 9   latitude            19997 non-null  float64
 10  longitude           19997 non-null  float64
 11  name                19997 non-null  object
 12  postalCode          19997 non-null  object
 13  province            19997 non-null  object
 14  reviews.date        19997 non-null  object
 15  reviews.dateSeen    19997 non-null  object
 16  reviews.rating      19997 non-null  float64
 17  reviews.sourceURLs  19997 non-null  object
 18  reviews.text        19997 non-null  object
 19  reviews.title       19997 non-null  object
 20  reviews.username    19997 non-null  object
 21  sourceURLs          19997 non-null  object
 22  websites            19997 non-null  object
dtypes: float64(3), object(20)
memory usage: 3.7+ MB

In [14]:
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
data['dateUpdated'] = pd.to_datetime(data['dateUpdated'])
data['reviews.date'] = pd.to_datetime(data['reviews.date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19997 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  19997 non-null  object
 1   dateAdded           19997 non-null  datetime64[ns, UTC]
 2   dateUpdated         19997 non-null  datetime64[ns, UTC]
 3   address             19997 non-null  object
 4   categories          19997 non-null  object
 5   primaryCategories   19997 non-null  object
 6   city                19997 non-null  object
 7   country             19997 non-null  object
 8   keys                19997 non-null  object
 9   latitude            19997 non-null  float64
 10  longitude           19997 non-null  float64
 11  name                19997 non-null  object
 12  postalCode          19997 non-null  object
 13  province            19997 non-null  object
 14  reviews.date        19997 non-null  datetime64[ns, UTC]
 15  reviews.dateSeen    19997 non-null  object
 16  reviews.rating      19997 non-null  float64
 17  reviews.sourceURLs  19997 non-null  object
 18  reviews.text        19997 non-null  object
 19  reviews.title       19997 non-null  object
 20  reviews.username    19997 non-null  object
 21  sourceURLs          19997 non-null  object
 22  websites            19997 non-null  object
dtypes: datetime64[ns, UTC](3), float64(3), object(17)
memory usage: 3.7+ MB

In [15]:
data = data.drop(columns='reviews.dateSeen')
data.shape

(19997, 22)

## Explore each column

In [16]:
data.id.nunique()

2975

In [17]:
data.address.nunique()

2970

In [18]:
data.categories.nunique()

1652

In [20]:
data.primaryCategories.unique()

array(['Accommodation & Food Services',
       'Healthcare & Social Assistance,Accommodation & Food Services',
       'Accommodation & Food Services,Arts Entertainment & Recreation',
       'Arts Entertainment & Recreation',
       'Wholesale Trade,Accommodation & Food Services', 'Utilities',
       'Accommodation & Food Services,Administrative & Support & Waste Management & Remediation',
       'Accommodation & Food Services,Agriculture'], dtype=object)

In [21]:
data.city.nunique()

1416

In [22]:
data.country.nunique()

1

In [23]:
data = data.drop(columns='country')
data.shape

(19997, 21)

In [25]:
data['keys'].nunique()

2976

In [26]:
data.name.nunique()

2764

In [27]:
data.province.nunique()

50

In [31]:
data['reviews.rating'].unique()

array([5.  , 2.  , 4.  , 3.  , 1.  , 4.8 , 4.6 , 3.55, 4.4 , 4.15, 2.5 ,
       3.95, 2.9 , 3.35, 3.75, 4.5 , 2.1 , 1.65, 3.15, 2.7 , 1.45, 2.75,
       2.3 , 3.5 , 4.25, 1.25, 1.9 , 3.45, 3.25, 4.75])

In [35]:
def review_map(rating):
    if rating >= 4:
        return 'great'
    if rating == 3:
        return 'ok'
    if rating < 3:
        return 'bad'

data['cat_rating'] = data['reviews.rating'].map(review_map)
data['cat_rating'].tail()

19995    great
19996    great
19997    great
19998    great
19999    great
Name: cat_rating, dtype: object

In [36]:
data['reviews.sourceURLs'].nunique()

14256

In [44]:
url = 'https://www.tripadvisor.com/Hotel_Review-g53573-d666353-Reviews-Candlelight_Inn_Bed_Breakfast-Ronks_Lancaster_County_Pennsylvania.html'
parsed = urlparse(url)
parsed.netloc

def short_url(url):
    parsed = urlparse(url)
    short_url = parsed.netloc
    return short_url.replace('www.', '')

In [46]:
data['short_source'] = data['reviews.sourceURLs'].map(short_url )
data['short_source'].tail()

19995    tripadvisor.com
19996    tripadvisor.com
19997    tripadvisor.com
19998    tripadvisor.com
19999    tripadvisor.com
Name: short_source, dtype: object

In [47]:
data = data.drop(columns=['sourceURLs', 'websites'])
data.shape

(19997, 21)

In [48]:
data.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'keys', 'latitude', 'longitude', 'name',
       'postalCode', 'province', 'reviews.date', 'reviews.rating',
       'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.username', 'cat_rating', 'short_source'],
      dtype='object')

## Next steps

- ID is unique identifier for hotel
- dateAdded is date info was added to Datafiniti
- remove dateUpdated column
- remove dateAdded column
- remove address column
- remove keys column
- split reviews.date to month & date of review and add season
- remove reviews.sourceURLs

In [49]:
data = data.drop(columns=['dateAdded', 'dateUpdated', 'address', 'keys', 'reviews.sourceURLs'])
data.shape

(19997, 16)

In [51]:
data['reviews.date'].head()

0   2013-11-14 00:00:00+00:00
1   2014-07-06 00:00:00+00:00
2   2015-01-02 00:00:00+00:00
3   2016-05-15 00:00:00+00:00
4   2016-07-09 00:00:00+00:00
Name: reviews.date, dtype: datetime64[ns, UTC]

In [52]:
data['month'] = data['reviews.date'].dt.month
data['year'] = data['reviews.date'].dt.year
data.head()

,id,categories,primaryCategories,city,latitude,longitude,name,postalCode,province,reviews.date,reviews.rating,reviews.text,reviews.title,reviews.username,cat_rating,short_source,month,year
0,AVwc252WIN2L1WUfpqLP,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,32.990959,-117.186136,Rancho Valencia Resort Spa,92067,CA,2013-11-14 00:00:00+00:00,5.0,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,Paula,great,hotels.com,11,2013
1,AVwc252WIN2L1WUfpqLP,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,32.990959,-117.186136,Rancho Valencia Resort Spa,92067,CA,2014-07-06 00:00:00+00:00,5.0,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,D,great,hotels.com,7,2014
2,AVwc252WIN2L1WUfpqLP,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,32.990959,-117.186136,Rancho Valencia Resort Spa,92067,CA,2015-01-02 00:00:00+00:00,5.0,We booked a 3 night stay at Rancho Valencia to...,Amazing Property and Experience,Ron,great,hotels.com,1,2015
3,AVwdOclqIN2L1WUfti38,"Hotels,Hotels and motels,Travel agencies and b...",Accommodation & Food Services,Hanover,39.155929,-76.716341,Aloft Arundel Mills,21076,MD,2016-05-15 00:00:00+00:00,2.0,Currently in bed writing this for the past hr ...,"Never again...beware, if you want sleep.",jaeem2016,bad,tripadvisor.com,5,2016
4,AVwdOclqIN2L1WUfti38,"Hotels,Hotels and motels,Travel agencies and b...",Accommodation & Food Services,Hanover,39.155929,-76.716341,Aloft Arundel Mills,21076,MD,2016-07-09 00:00:00+00:00,5.0,I live in Md and the Aloft is my Home away fro...,ALWAYS GREAT STAY...,MamaNiaOne,great,tripadvisor.com,7,2016

In [53]:
data = data.drop(columns='reviews.date')
data.shape

(19997, 17)

In [57]:
def season(month):
    if month == 12:
        return 'winter'
    if month >= 1 and month <= 2:
        return 'winter'
    if month >= 3 and month <= 5:
        return 'spring'
    if month >= 6 and month <= 8:
        return 'summer'
    if month >= 9 and month <= 11:
        return 'fall'

data['visit_season'] = data['month'].map(season)
data.tail()

,id,categories,primaryCategories,city,latitude,longitude,name,postalCode,province,reviews.rating,reviews.text,reviews.title,reviews.username,cat_rating,short_source,month,year,visit_season
19995,AVwdatg0ByjofQCxo5S5,"Hotels,Hotels and motels,Corporate Lodging,New...",Accommodation & Food Services,Hampton,37.057650,-76.393310,Hampton Inn Hampton-newport News,23666,VA,4.0,My friends and I took a trip to Hampton for th...,Very accommodating and friendly staff!,Tiffany1017,great,tripadvisor.com,12,2015,winter
19996,AVwdatg0ByjofQCxo5S5,"Hotels,Hotels and motels,Corporate Lodging,New...",Accommodation & Food Services,Hampton,37.057650,-76.393310,Hampton Inn Hampton-newport News,23666,VA,5.0,"from check in to departure, staff is friendly,...","comfortable, friendly, clean, professional",bobg187,great,tripadvisor.com,11,2015,fall
19997,AVwdatg0ByjofQCxo5S5,"Hotels,Hotels and motels,Corporate Lodging,New...",Accommodation & Food Services,Hampton,37.057650,-76.393310,Hampton Inn Hampton-newport News,23666,VA,5.0,This Hampton is located on a quiet street acro...,Great location,K261ANbrendah,great,tripadvisor.com,7,2016,summer
19998,AV1thTgM3-Khe5l_OvT5,"Hotels,Bar,Hotel,Restaurants",Accommodation & Food Services,Hunter,42.210915,-74.215309,Roseberry's Inn,12442,NY,5.0,Awesome wings (my favorite was garlic parmesan...,Great Atmosphere!,soccerrocks2016,great,tripadvisor.com,10,2016,fall
19999,AV1tg9C7a4HuVbed8XA5,"Hotels,Hotels and motels,Corporate Lodging,Lod...",Accommodation & Food Services,Lindale,32.469540,-95.390420,Hampton Inn-lindale/tyler,75771,TX,4.0,Clean facility just off freeway ..... staff fr...,Health care appointments,tootallsmith,great,tripadvisor.com,6,2017,summer

In [58]:
data['cat_rating'].value_counts()

great    14972
ok        2376
bad       2374
Name: cat_rating, dtype: int64

In [60]:
data['visit_season'].value_counts()

summer    6177
spring    5338
fall      4537
winter    3945
Name: visit_season, dtype: int64

In [61]:
data['primaryCategories'].value_counts()

Accommodation & Food Services                                                              19916
Arts Entertainment & Recreation                                                               45
Healthcare & Social Assistance,Accommodation & Food Services                                  18
Accommodation & Food Services,Arts Entertainment & Recreation                                  8
Wholesale Trade,Accommodation & Food Services                                                  7
Accommodation & Food Services,Administrative & Support & Waste Management & Remediation        1
Utilities                                                                                      1
Accommodation & Food Services,Agriculture                                                      1
Name: primaryCategories, dtype: int64

In [66]:
data['year'].value_counts()

2016    6916
2015    4618
2017    2508
2014    1652
2018    1269
2013    1135
2012     692
2011     418
2010     223
2009     167
2007     135
2008     122
2006      42
2019      40
2005      32
2004      22
2003       5
2002       1
Name: year, dtype: int64

## Further processing
- Remove primaryCategories column - all categories can be considered accommodation & food services
- Remove reviews.username - not applicaple for aggregation

In [67]:
data = data.drop(columns=['primaryCategories', 'reviews.username'])
data.shape

(19997, 16)

## Process text columns
- pip install NLTK
- convert all text to lower case
- remove numbers
- remove punctuation
- remove stopwords
- lemmatize words
- vecotrize with Tfidf Vectorizer (tune max_df, min_df, max_features, ngram_range)
- create review_richness column (i.e introduce vocabulary richness feature)
- create pipeline to tune vectorizer and Multinomial Naive Bayes algorithm together

In [68]:
# Complete remaining planning before beginning modeling