In [37]:
import pandas as pd
from urllib.parse import urlparse

In [2]:
!pwd

/c/Users/njeri/Projects/SmartStay

In [3]:
df_1 = pd.read_csv('data/Datafiniti_Hotel_Reviews.csv')
df_1.shape

(10000, 25)

In [4]:
df_2 = pd.read_csv('data/Datafiniti_Hotel_Reviews_Jun19.csv')
df_2.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'reviews.date', 'reviews.dateAdded',
       'reviews.dateSeen', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username', 'sourceURLs', 'websites'],
      dtype='object')

In [5]:
df_3 = df_2.drop('reviews.dateAdded', axis=1)
df_3.shape

(10000, 25)

In [6]:
data = pd.concat([df_1, df_3], ignore_index=True)
data.shape

(20000, 25)

In [7]:
data.head(3)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.dateSeen,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites
0,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-03T00:00:00Z,2016-07-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,NaN,NaN,Paula,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
1,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-08-02T00:00:00Z,2016-08-26T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,Amazing place. Everyone was extremely warm and...,Sweet sweet serenity,NaN,NaN,D,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com
2,AVwc252WIN2L1WUfpqLP,2016-10-30T21:42:42Z,2018-09-10T21:06:27Z,5921 Valencia Cir,"Hotels,Hotels and motels,Hotel and motel reser...",Accommodation & Food Services,Rancho Santa Fe,US,us/ca/ranchosantafe/5921valenciacir/359754519,32.990959,...,"2016-11-15T00:00:00Z,2016-08-23T00:00:00Z,2016...",5.0,https://www.hotels.com/hotel/125419/reviews%20/,We booked a 3 night stay at Rancho Valencia to...,Amazing Property and Experience,NaN,NaN,Ron,http://www.hotels.com/ho125419/%25252525253Flo...,http://www.ranchovalencia.com

In [8]:
data.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'reviews.date', 'reviews.dateSeen',
       'reviews.rating', 'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.userCity', 'reviews.userProvince', 'reviews.username',
       'sourceURLs', 'websites'],
      dtype='object')

## Look for missing values

In [9]:
data.isnull().sum()

id                         0
dateAdded                  0
dateUpdated                0
address                    0
categories                 0
primaryCategories          0
city                       0
country                    0
keys                       0
latitude                   0
longitude                  0
name                       0
postalCode                 0
province                   0
reviews.date               0
reviews.dateSeen           0
reviews.rating             0
reviews.sourceURLs         0
reviews.text               1
reviews.title              2
reviews.userCity        5836
reviews.userProvince    7297
reviews.username           0
sourceURLs                 0
websites                   0
dtype: int64

In [10]:
data = data.drop(columns=['reviews.userCity', 'reviews.userProvince'])
data.shape

(20000, 23)

In [11]:
data.isnull().sum()

id                    0
dateAdded             0
dateUpdated           0
address               0
categories            0
primaryCategories     0
city                  0
country               0
keys                  0
latitude              0
longitude             0
name                  0
postalCode            0
province              0
reviews.date          0
reviews.dateSeen      0
reviews.rating        0
reviews.sourceURLs    0
reviews.text          1
reviews.title         2
reviews.username      0
sourceURLs            0
websites              0
dtype: int64

In [12]:
data = data.dropna()
data.shape

(19997, 23)

## Handle time data

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19997 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  19997 non-null  object
 1   dateAdded           19997 non-null  object
 2   dateUpdated         19997 non-null  object
 3   address             19997 non-null  object
 4   categories          19997 non-null  object
 5   primaryCategories   19997 non-null  object
 6   city                19997 non-null  object
 7   country             19997 non-null  object
 8   keys                19997 non-null  object
 9   latitude            19997 non-null  float64
 10  longitude           19997 non-null  float64
 11  name                19997 non-null  object
 12  postalCode          19997 non-null  object
 13  province            19997 non-null  object
 14  reviews.date        19997 non-null  object
 15  reviews.dateSeen    19997 non-null  object
 16  reviews.rating      19997 non-null  float64
 17  reviews.sourceURLs  19997 non-null  object
 18  reviews.text        19997 non-null  object
 19  reviews.title       19997 non-null  object
 20  reviews.username    19997 non-null  object
 21  sourceURLs          19997 non-null  object
 22  websites            19997 non-null  object
dtypes: float64(3), object(20)
memory usage: 3.7+ MB

In [14]:
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
data['dateUpdated'] = pd.to_datetime(data['dateUpdated'])
data['reviews.date'] = pd.to_datetime(data['reviews.date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19997 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  19997 non-null  object
 1   dateAdded           19997 non-null  datetime64[ns, UTC]
 2   dateUpdated         19997 non-null  datetime64[ns, UTC]
 3   address             19997 non-null  object
 4   categories          19997 non-null  object
 5   primaryCategories   19997 non-null  object
 6   city                19997 non-null  object
 7   country             19997 non-null  object
 8   keys                19997 non-null  object
 9   latitude            19997 non-null  float64
 10  longitude           19997 non-null  float64
 11  name                19997 non-null  object
 12  postalCode          19997 non-null  object
 13  province            19997 non-null  object
 14  reviews.date        19997 non-null  datetime64[ns, UTC]
 15  reviews.dateSeen    19997 non-null  object
 16  reviews.rating      19997 non-null  float64
 17  reviews.sourceURLs  19997 non-null  object
 18  reviews.text        19997 non-null  object
 19  reviews.title       19997 non-null  object
 20  reviews.username    19997 non-null  object
 21  sourceURLs          19997 non-null  object
 22  websites            19997 non-null  object
dtypes: datetime64[ns, UTC](3), float64(3), object(17)
memory usage: 3.7+ MB

In [15]:
data = data.drop(columns='reviews.dateSeen')
data.shape

(19997, 22)

## Explore each column

In [16]:
data.id.nunique()

2975

In [17]:
data.address.nunique()

2970

In [18]:
data.categories.nunique()

1652

In [20]:
data.primaryCategories.unique()

array(['Accommodation & Food Services',
       'Healthcare & Social Assistance,Accommodation & Food Services',
       'Accommodation & Food Services,Arts Entertainment & Recreation',
       'Arts Entertainment & Recreation',
       'Wholesale Trade,Accommodation & Food Services', 'Utilities',
       'Accommodation & Food Services,Administrative & Support & Waste Management & Remediation',
       'Accommodation & Food Services,Agriculture'], dtype=object)

In [21]:
data.city.nunique()

1416

In [22]:
data.country.nunique()

1

In [23]:
data = data.drop(columns='country')
data.shape

(19997, 21)

In [25]:
data['keys'].nunique()

2976

In [26]:
data.name.nunique()

2764

In [27]:
data.province.nunique()

50

In [31]:
data['reviews.rating'].unique()

array([5.  , 2.  , 4.  , 3.  , 1.  , 4.8 , 4.6 , 3.55, 4.4 , 4.15, 2.5 ,
       3.95, 2.9 , 3.35, 3.75, 4.5 , 2.1 , 1.65, 3.15, 2.7 , 1.45, 2.75,
       2.3 , 3.5 , 4.25, 1.25, 1.9 , 3.45, 3.25, 4.75])

In [35]:
def review_map(rating):
    if rating >= 4:
        return 'great'
    if rating == 3:
        return 'ok'
    if rating < 3:
        return 'bad'

data['cat_rating'] = data['reviews.rating'].map(review_map)
data['cat_rating'].tail()

19995    great
19996    great
19997    great
19998    great
19999    great
Name: cat_rating, dtype: object

In [36]:
data['reviews.sourceURLs'].nunique()

14256

In [44]:
url = 'https://www.tripadvisor.com/Hotel_Review-g53573-d666353-Reviews-Candlelight_Inn_Bed_Breakfast-Ronks_Lancaster_County_Pennsylvania.html'
parsed = urlparse(url)
parsed.netloc

def short_url(url):
    parsed = urlparse(url)
    short_url = parsed.netloc
    return short_url.replace('www.', '')

In [46]:
data['short_source'] = data['reviews.sourceURLs'].map(short_url )
data['short_source'].tail()

19995    tripadvisor.com
19996    tripadvisor.com
19997    tripadvisor.com
19998    tripadvisor.com
19999    tripadvisor.com
Name: short_source, dtype: object

In [47]:
data = data.drop(columns=['sourceURLs', 'websites'])
data.shape

(19997, 21)

In [48]:
data.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'keys', 'latitude', 'longitude', 'name',
       'postalCode', 'province', 'reviews.date', 'reviews.rating',
       'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.username', 'cat_rating', 'short_source'],
      dtype='object')

## Next steps

- ID is unique identifier for hotel
- dateAdded is data info was added to Datafiniti
- remove dateUpdated column
- remove datAdded column
- remove address column
- remove keys column
- remove latitude & longitude columns
- split reviews.date to month & date of review and add season
- remove reviews.sourceURLs